body {
    background-color: rgb(107, 255, 151);
}

@font-face {
  font-family: 'pixelifySans';
  src: url('fonts/PixelifySans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.allow-cam {
    font-family: sans-serif;
    text-align: center;
    font-size: 8vw;
    color: rgb(0, 0, 0);
    margin-top: 12.5vw;
    font-weight: bold;
    cursor: default;
    font-family: pixelifySans;
}
#desktop-message {
    margin-top: 7.5vw;
    font-size: 5vw;
}

#title {
    font-family: sans-serif;
    text-align: center;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-top: 2.5vw;
    display: none;
    cursor: default;
    font-family: pixelifySans;
}

#webcam-container {
    position: absolute;
    width: 25vw;
    height: 25vw;
    left: 50%;
    transform: translateX(-50%);
    border: 0.5vw solid rgb(0, 0, 0);
    display: none;
    z-index: 10;
}
#webcam-container canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#play-btn, #play-btn-2 {
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: bold;
    border: .5vw solid black;
    padding: 2vw;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 30vw;
    display: none;
    font-family: pixelifySans;
}
#play-btn-2 {
    left: 85%;
}

#quit-btn {
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: bold;
    border: .5vw solid black;
    padding: 1vw;
    cursor: pointer;
    position: absolute;
    font-family: pixelifySans;
    display: none;
}

#tutorial-label {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-top: 2.5vw;
    cursor: default;
    font-family: pixelifySans;
    display: none;
}

#checkmark {
    width: 10vw;
    left: 44%;
    margin-top: 2.5%;
    border: none;
}
#crossmark {
    width: 10vw;
    left: 80%;
    margin-top: 2.5%;
    border: none;
}
.examples {
    width: 10vw;
    position: absolute;
    transform: translateX(-50%);
    border: 0.5vw solid rgb(0, 0, 0);
    margin-top: 12.5%;
    display: none;
}
#good1 {
    left: 34%;
}
#good2 {
    left: 44%;
}
#good3 {
    left: 54%;
}
#bad1 {
    left: 70%;
}
#bad2 {
    left: 80%;
}
#bad3 {
    left: 90%;
}
#tips {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
    cursor: default;
    font-family: pixelifySans;
    left: 52.5%;
    width: 45vw;
    margin-top: 27.5%;
    text-align: center;
    border: none;
    display: none;
}

.mode-btn {
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: bold;
    border: .5vw solid black;
    padding: 2vw;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 35vw;
    font-family: pixelifySans;
    display: none;
}
#mode3-btn {
    left: 30%
}
#mode5-btn {
    left: 70%
}
#mode-inf-btn {
    margin-top: 36vw;
    font-size: 4vw;
    padding-top: 0vw;
    padding-bottom: 0.5vw;
}

#start-round-btn {
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: bold;
    border: .5vw solid black;
    padding: 2vw;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 39vw;
    display: none;
    font-family: pixelifySans;
}
.score-display {
    font-size: 5vw;
    font-weight: bold;
    padding: 2vw;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 27.5vw;
    display: none;
    cursor: default;
    z-index: 10;
    font-family: pixelifySans;
}
#player-score {
    left: 40%;
    margin-top: 30vw;
}
#enemy-score {
    left: 60%;
    margin-top: 30vw;
}

#player-side {
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(0, 153, 255);
    display: none;
    z-index: -1;
    font-size: 7vw;
    font-family: pixelifySans;
    justify-content: center;
    align-items: flex-start;
}

#enemy-side {
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    display: none;
    z-index: -1;
    font-size: 7vw;
    font-family: pixelifySans;
    justify-content: center;
    align-items: flex-start;
}
#side-separator {
    position: fixed;
    left: 50vw;
    top: 0;
    width: 0.5vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    display: none;
}
#enemy-side {
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    display: none;
    z-index: -1;
}
#player-choice {
    position: absolute;
    width: 30vw;
    margin-right: 20vw;
    top: 25%;
    left: 5%;
    display: none;
}
#enemy-choice {
    position: absolute;
    width: 30vw;
    margin-left: 65vw;
    top: 25%;
    display: none;
}

#countdown {
    position: fixed;
    left: 50%;
    top: 40vw;
    transform: translate(-50%, -50%);
    font-size: 20vw;
    font-weight: bold;
    font-family: pixelifySans;
    color: rgb(255, 255, 255);
    display: none;
    z-index: 100;
    text-shadow: 0.5vw 0.5vw 0 rgb(0, 0, 0);
}
#result {
    position: fixed;
    left: 50%;
    top: 40vw;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    font-weight: bold;
    font-family: pixelifySans;
    color: rgb(255, 255, 255);
    display: none;
    z-index: 100;
    text-shadow: 0.5vw 0.5vw 0 rgb(0, 0, 0);
    text-align: center;
}